{
  "minify": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": false,
      "decorators": true
    },
    "target": "es2020",
    "paths": {
      "@/*": [
        "./src/*"
      ]
    },
    "preserveAllComments": false,
    "baseUrl": "./src",
    "loose": false,
    "externalHelpers": false,
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    }
  },
  "module": {
    "type": "commonjs"
  }
}
