import { Controller, {{ className }} } from '@/application/controllers'
//import { ServerError, UnauthorizedError } from '@/application/errors'

describe('{{ className }}', () => {
  let sut: {{ className }}
  let sutAdressUseCase: jest.Mock

  const sutAdressCreatedAt = new Date()
  const sutAdressMock = {
    createdAt: sutAdressCreatedAt,
    district: '',
    number: 0,
    userId: 1,
    city: 'city',
    state: 'state',
    street: 'street',
    zipcode: 'zipcode',
    country: 'country',
    complement: 'complement'
  }

  beforeEach(() => {
    sutAdressUseCase = jest.fn().mockResolvedValue(sutAdressMock)
    sut = new {{ className }}(sutAdressUseCase)
  })

  it('should extend Controller', async () => {
    expect(sut).toBeInstanceOf({{ className }})
  })
});
